In [1]:
! pip install kaggle api

Requirement already satisfied: kaggle in c:\users\janvi\anaconda3\lib\site-packages (1.7.4.5)
Requirement already satisfied: api in c:\users\janvi\anaconda3\lib\site-packages (0.0.7)
Requirement already satisfied: bleach in c:\users\janvi\anaconda3\lib\site-packages (from kaggle) (4.1.0)
Requirement already satisfied: certifi>=14.05.14 in c:\users\janvi\anaconda3\lib\site-packages (from kaggle) (2025.8.3)
Requirement already satisfied: charset-normalizer in c:\users\janvi\anaconda3\lib\site-packages (from kaggle) (2.0.4)
Requirement already satisfied: idna in c:\users\janvi\anaconda3\lib\site-packages (from kaggle) (3.4)
Requirement already satisfied: protobuf in c:\users\janvi\anaconda3\lib\site-packages (from kaggle) (3.20.3)
Requirement already satisfied: python-dateutil>=2.5.3 in c:\users\janvi\anaconda3\lib\site-packages (from kaggle) (2.8.2)
Requirement already satisfied: python-slugify in c:\users\janvi\anaconda3\lib\site-packages (from kaggle) (5.0.2)
Requirement already satisfied: requests in c:\users\janvi\anaconda3\lib\site-packages (from kaggle) (2.32.3)
Requirement already satisfied: setuptools>=21.0.0 in c:\users\janvi\anaconda3\lib\site-packages (from kaggle) (68.2.2)
Requirement already satisfied: six>=1.10 in c:\users\janvi\anaconda3\lib\site-packages (from kaggle) (1.16.0)
Requirement already satisfied: text-unidecode in c:\users\janvi\anaconda3\lib\site-packages (from kaggle) (1.3)
Requirement already satisfied: tqdm in c:\users\janvi\anaconda3\lib\site-packages (from kaggle) (4.65.0)
Requirement already satisfied: urllib3>=1.15.1 in c:\users\janvi\anaconda3\lib\site-packages (from kaggle) (2.0.7)
Requirement already satisfied: webencodings in c:\users\janvi\anaconda3\lib\site-packages (from kaggle) (0.5.1)
Requirement already satisfied: nose in c:\users\janvi\anaconda3\lib\site-packages (from api) (1.3.7)
Requirement already satisfied: packaging in c:\users\janvi\anaconda3\lib\site-packages (from bleach->kaggle) (23.1)
Requirement already satisfied: colorama in c:\users\janvi\anaconda3\lib\site-packages (from tqdm->kaggle) (0.4.6)

In [2]:
import os
os.chmod(r"C:\Users\janvi\.kaggle\kaggle.json", 600)

In [3]:
!kaggle datasets download -d himanshunakrani/iris-dataset

Dataset URL: https://www.kaggle.com/datasets/himanshunakrani/iris-dataset
License(s): CC0-1.0
iris-dataset.zip: Skipping, found more recently modified local copy (use --force to force download)

In [4]:
import zipfile
with zipfile.ZipFile("iris-dataset.zip", 'r') as zip_ref:
    zip_ref.extractall("iris_dataset")

# View the Dataset

In [6]:
import pandas as pd

In [7]:
df = pd.read_csv("iris_dataset/Iris.csv")
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [8]:
df.tail()

     sepal_length  sepal_width  petal_length  petal_width    species
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica